
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 350px;
  height: 280px;
}

h1{
text-align: center;
  color: black;
  font-weight:48px;
  line-height: 80px;
  
  
}
h2{
  margin-left: 120px;
  font-size: x-large;
}
p{
  margin-left: 120px;
  font-size: x-large;
}
h3{
margin-left: 120px;
font-size: x-large;
}
p{
  margin-left: 120px;
  font-size: x-large;
}
h4{
  margin-left: 120px;
  font-size: x-large;
}
p{
  margin-left: 120px;
  font-size: x-large;
}
p{
  margin-left: 120px;
  font-size: x-large;
}
p{
  margin-left: 120px;
  font-size: x-large;
}